{{>nav2}}
<tr>
	<div id=postdiv>
		<h1> {{post.pname}} </h1>
	</div>
	<div id=postdiv>
		<p id=postp> <img src="{{post.picture}}"  alt="Avatar" id=postimg> </p>
	</div>
	<div id=postdiv>
		<p id=postp> Description: {{post.description}} </p>
	</div>
	<div id=postdiv>
		<p id=postp> Price (Avarage 2 people): {{post.price}}TL</p>
	</div>
	<div id=postdiv>
		<p id=postp> Address: {{post.adress}}</p>
	</div>
	<div id=postdiv>
		<p id=postp> District: {{post.district}}</p>
	</div>
</tr>
